<!DOCTYPE html>
<html lang="en">
<title> Weather Forecast </title>
<head>
  <link href="../static/main_1.css" type="text/css" rel="stylesheet">
</head>
<body>
   <h1> Weather in major cities is </h1>
     <ul>


  {% for i in length %}
            <li>
             <p>{{ li[i] ["city"]}} </p><br>
             {{ li[i] ["temp"]}} <br>
             {{ li[i] ["conditions"]}}<br>
           </li>
  {% endfor %}


  </ul>

   <h3 align="center"> Please fill the entries </h3>
   <div class="message">
    <form action= method="POST">
      <input title="Enter your City name" placeholder="Lets find out what the weather is"\
        name="city_name" class="input"required/><br>
      <button class="button" type=submit>Submit </button>
    </form>
  </div>
</body>
</html>
