<!DOCTYPE html>
<html lang="en">
<title> Weather Forecast </title>
<head>
  <link href="../static/main_1.css" type="text/css" rel="stylesheet">
</head>
<body>
   <h1 align="center"> Weather in major cities  </h1>
     <ul>


  {% for i in length %}
            <li>
             <p>{{ li[i] ["city"]}} </p><br>
             {{ li[i] ["temp"]}} <br>
             {{ li[i] ["conditions"]}}<br>
           </li>
  {% endfor %}


  </ul>

  <h1 align="center"> Your city is {{ city }} </h1>
</body>
</html>
